/* 
 * Assumes that reset.css is already sourced on the page.
 */

body {
  background-color:  #101010;
  color:             #FFFFFF;
  font-family:       monospace;
  text-align:        center;
}

pre {
  margin: 0 auto;
}

#skull {
  margin-top: 120px;
  margin-bottom: 60px;
}

.figlet {
  margin-top: 10px;
  margin-bottom: 20px;
}
